header {
    background-color: #FFFFFF;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #cccccc;
    display: flex;
    align-items: center;
} 

header a{
    background-image:url("../images/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    display:block;
    width: 142px;
    height: 60px;
    margin-left: 20px;
}